.isimb-6310-drag {
  width: auto;
  height: auto;
  display: inline-block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: transparent !important;
  border: none !important;
}

.isimb-6310-hide {
  display: none;
}

.isimb-6310-point-icons,
.isimb-6310-point-icons * {
  float: left;
}

.isimb-6310-builder-box {
  width: 100%;
  background: transparent;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.isimb-6310-annotation-box-inner {
  transition: transform 0.3s ease;
}
.isimb-6310-annotation-box-inner:active {
  cursor: grabbing;
}
.isimb-6310-builder-box .isimb-6310-main-image {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.isimb-6310-drag .isimb-6310-pin-main-img,
.isimb-6310-drag .isimb-6310-pin-hover-img {
  position: relative;
  text-decoration: none;
}

.isimb-6310-pin-hover-img {
  display: none !important;
  text-decoration: none;
}

.isimb-6310-drag:hover .isimb-6310-pin-hover-img {
  display: inline-block !important;
  text-decoration: none;
}

.isimb-6310-drag:hover .isimb-6310-pin-main-img {
  display: none !important;
}

/* Template CSS Start */

/* temp 01 */

.isimb-6310-tooltip.isimb-6310-template-01 a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}

.isimb-6310-tooltip.isimb-6310-template-01 {
  float: left;
  width: auto;
  background: lightcoral;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
}

.isimb-6310-template-01-hover-content {
  width: auto;
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
}

/* temp 02 */

.isimb-6310-template-02-hover-content {
  background-color: transparent;
  color: #fff;
  text-align: center;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  left: 0;
}

.isimb-6310-template-02-content {
  align-items: center;
  justify-content: center;
}

.isimb-6310-pos-right-tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
  left: -9px;
  top: 50%;
}

.isimb-6310-template-02-content iframe {
  max-height: 100% !important;
  max-width: 100% !important;
  position: relative;
  border: 1px solid #fff;
}
.isimb-6310-close-button {
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  z-index: 9999999;
}
.isimb-6310-popup {
  float: left;
  padding: 0 !important;
  margin: 0 !important;
  /* line-height: 0!important; */
}

/* temp 03 */

.isimb-6310-template-03-hover-content {
  width: 400px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.isimb-6310-template-03-tooltip-testimonial {
  padding: 20px;
  background: cornsilk;
  float: left;
  width: 100%;
}

.isimb-6310-template-03-tooltip-testimonial
  .isimb-6310-template-03-tooltip-pic {
  width: 40%;
  height: auto;
  float: left;
  margin-right: 10px;
  position: relative;
}

.isimb-6310-template-03-tooltip-testimonial
  .isimb-6310-template-03-tooltip-pic
  img {
  width: 100% !important;
  height: auto !important;
  border-radius: 0 !important;
  animation: unset !important;
}

.isimb-6310-template-03-tooltip-testimonial
  .isimb-6310-template-03-tooltip-testimonial-content {
  width: calc(60% - 10px);
  float: left;
}

.isimb-6310-template-03-tooltip-testimonial
  .isimb-6310-template-03-tooltip-testimonial-title {
  font-size: 24px;
  color: #e16b47;
  text-transform: capitalize;
  width: 100%;
  float: left;
}

.isimb-6310-template-03-tooltip-testimonial
  .isimb-6310-template-03-tooltip-description {
  font-size: 13px;
  color: #7c7c7c;
  line-height: 22px;
  float: left;
  width: 100%;
}

/* temp 04 */

.isimb-6310-template-04-tooltip-testimonial {
  width: 400px;
  background: #3e2a41;
  transition: 0.5s;
  bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.isimb-6310-template-04-tooltip-testimonial-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.isimb-6310-template-04-tooltip-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -50px;
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.15);
}

.isimb-6310-template-04-tooltip-pic img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.isimb-6310-template-04-tooltip-title {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 10px 0 0 0;
  font-family: sans-serif;
}

.isimb-6310-template-04-tooltip-description {
  display: inline-block;
  margin: 10px;
  padding: 8px;
  border: 1px solid rgb(0 0 0 / 15%);
  font-size: 14px;
  color: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

/* temp 05 */

.isimb-6310-template-05-hover-content {
  width: 450px;
  background: #3e2a41;
  transition: 0.5s;
  bottom: 0;
  position: relative;
  z-index: 1;
  float: left;
}

.isimb-6310-template-05-hover-content
  .isimb-6310-template-05-tooltip-testimonial {
  margin: 20px 0;
  display: flex;
}

.isimb-6310-template-05-tooltip-testimonial-content {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.isimb-6310-template-05-tooltip-pic {
  width: 90%;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.isimb-6310-template-05-tooltip-pic img {
  width: 100% !important;
  height: auto;
  position: relative !important;
}

.isimb-6310-template-05-tooltip-testimonial-content
  .isimb-6310-template-05-tooltip-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0 0 0;
  text-align: center;
}

.isimb-6310-template-05-tooltip-description {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(255 255 255 / 15%);
  font-size: 14px;
  color: white;
  position: relative;
  margin: 8px;
  font-family: sans-serif;
  line-height: 20px;
}

/* media queries  */

@media only screen and (max-width: 767px) {
  /* temp 03 */

  .isimb-6310-template-03-hover-content {
    width: 300px;
  }
  .isimb-6310-template-03-tooltip-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
  }
  .isimb-6310-template-03-tooltip-testimonial
    .isimb-6310-template-03-tooltip-pic {
    margin: 0 auto;
    width: 50%;
  }
  .isimb-6310-template-03-tooltip-testimonial
    .isimb-6310-template-03-tooltip-testimonial-content {
    width: 100%;
  }
  .isimb-6310-template-03-tooltip-testimonial-title {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .isimb-6310-template-03-tooltip-description {
    width: 100%;
    text-align: center;
  }

  /* temp 04 */

  .isimb-6310-template-04-tooltip-testimonial {
    width: 300px;
  }
  .isimb-6310-template-04-tooltip-pic {
    /* width: 50%; */
  }

  /* temp 05 */

  .isimb-6310-template-05-tooltip-testimonial {
    width: 300px;
  }
  .isimb-6310-template-05-tooltip-testimonial {
    flex-direction: column;
    align-items: center;
  }
  .isimb-6310-template-05-hover-content {
    width: 100%;
  }
  .isimb-6310-template-05-tooltip-testimonial-content {
    width: calc(100% - 16px);
  }
  .isimb-6310-template-05-hover-content
    .isimb-6310-template-05-tooltip-testimonial {
    margin: 0 auto;
  }

  .isimb-6310-template-05-tooltip-pic {
    width: 50%;
  }
}

/* button */

.isimb-6310-template-tooltip-button {
  text-align: center;
  float: left;
  width: 100%;
}
.isimb-6310-template-tooltip-button a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
}
/* output model sectio  */
.isimb-6310-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 70px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.isimb-6310-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  padding: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  display: flex;
  justify-content: center;
}
.isimb-6310-hover-content *,
.isimb-6310-modal-content * {
  text-decoration: none !important;
}

.ui-widget-content .isimb-6310-hover-content {
  position: relative !important;
  transform: scale(1) !important;
}
div[role="tooltip"] {
  box-shadow: none !important;
  background: transparent !important;
}
.isimb-6310-modal-content-element {
  width: 100%;
  display: flex;
  justify-content: center;
}
