.isimb-6310 {
  font-family: sans-serif;
  color: #727272;
}
.isimb-6310 *,
.isimb-6310-modal * {
  box-sizing: border-box !important;
}
.row {
  display: table;
  width: 100%;
}
.isimb-6310-sm {
  width: 98%;
}

/* Header Top Menu */
.isimb-6310-header {
  width: calc(100% - 14px);
  background: #fff;
  color: #000;
  padding: 0 15px 20px;
  float: left;
  margin: 20px 0 30px;
  display: table;
  border-radius: 3px;
}
.isimb-6310-header .isimb-6310-nav {
  list-style-type: none;
  display: table;
  margin: 0 -15px;
  width: calc(100% + 30px);
}
.isimb-6310-header .isimb-6310-nav li {
  display: table-cell;
  text-align: center;
  background: #16a085;
  margin-bottom: 0;
}
.isimb-6310-header .isimb-6310-nav a {
  padding: 10px 7px;
  height: calc(100% - 20px);
  color: #fff;
  text-decoration: none;
  font-family: Share, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
}
.isimb-6310-plugin-menu {
  background: #615151 !important;
}
h1.isimb-6310-wpmart-all-plugins {
  font-size: 22px;
  margin: -5px 0 15px 15px;
  padding: 0;
  color: #2196f3;
}
.isimb-6310-wpmart-plugins {
  background-color: #fff;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.isimb-6310-wpmart-plugins:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.isimb-6310-wpmart-plugins a {
  text-decoration: none;
}
.isimb-6310-wpmart-plugins p {
  font-size: 18px;
  padding: 10px 0 15px;
  margin: 0;
}
.isimb-6310-nav a:hover,
.isimb-6310-nav a.isimb-6310-menu-active {
  background: #117a65;
}
.isimb-6310-nav a:focus {
  outline: none;
  box-shadow: none;
}
.isimb-6310-header .isimb-6310-nav li.has-dropdown {
  position: relative;
}
ul.dropdown-menu {
  position: absolute;
  display: none;
  width: 100%;
}
.isimb-6310-header .isimb-6310-nav li.has-dropdown:hover {
  cursor: pointer;
}
.isimb-6310-header .isimb-6310-nav li.has-dropdown:hover ul.dropdown-menu {
  display: flex;
  flex-direction: column;
}
ul.dropdown-menu li {
  background-color: #c1e1c1 !important;
}
ul.dropdown-menu li a {
  color: #000 !important;
}
ul.dropdown-menu li a:hover,
ul.dropdown-menu li a.isimb-6310-menu-active {
  background-color: #40826d !important;
  color: #c1e1c1 !important;
}
.isimb-6310-nav a.isimb-6310-pro {
  position: relative;
  background-image: linear-gradient(
    to right,
    #ee0979 0%,
    #ff6a00 51%,
    #ee0979 100%
  );
  padding: 10px 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: none;
  transition: 0.5s, box-shadow 0.5s ease 0.1s;
  background-size: 200% auto;
  color: white;
  display: block;
}
.isimb-6310-nav a.isimb-6310-pro:hover {
  background-position: center right;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px #eee;
}
.isimb-6310-nav a.isimb-6310-pro i {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 30px;
  color: gold;
  transform: scale(0.8);
  transition-duration: 0.5s;
}
.isimb-6310-nav a.isimb-6310-pro:hover i {
  transform: rotate(-180deg) scale(1);
  color: #ff668c;
}
.isimb-6310-header h3 {
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  font-size: 20px;
}
.isimb-6310-header h3 span.dashicons-flag {
  line-height: 40px;
}

/* End Header Top Menu */

.isimb-6310-margin-right-10 {
  margin-right: 10px;
}
.isimb-6310-image-responsive {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.isimb-6310-padding-15 {
  padding: 15px !important;
}
.isimb-6310-padding-0-15 {
  padding: 0 15px !important;
}
.isimb-6310-btn-cancel,
.isimb-6310-btn-danger,
.isimb-6310-btn-default,
.isimb-6310-btn-icon,
.isimb-6310-btn-multi,
.isimb-6310-btn-primary,
.isimb-6310-btn-success {
  font-family: sans-serif;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.isimb-6310-btn-multi {
  border-radius: 0;
  background-color: #71ce71;
  float: left;
}
.isimb-6310-btn-default {
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  padding: 5px 10px;
}
.isimb-6310-btn-icon {
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.isimb-6310-btn-primary {
  background-color: #2e6da4;
}
.isimb-6310-btn-success {
  background-color: #5cb85c;
}
.isimb-6310-btn-danger,
.isimb-6310-btn-cancel {
  background-color: #d9534f;
}
.isimb-6310-btn-danger.sm {
  padding: 5px 10px !important;
}
.isimb-6310-btn-multi.active,
.isimb-6310-btn-multi:hover,
.isimb-6310-btn-success:hover {
  background-color: #376e37;
}
.isimb-6310-btn-primary:hover {
  background-color: #24537c;
}
.isimb-6310-btn-danger:hover,
.isimb-6310-btn-cancel:hover {
  background-color: #d63a35;
}
.isimb-6310-btn-default:hover {
  background-color: #eee;
}
.isimb-6310 h1 {
  font-weight: 400;
}
.isimb-6310-form-label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 150px;
}
.isimb-6310-plus-icons {
  float: left;
  position: relative;
  cursor: pointer;
}
.isimb-6310-plus-icons i.fas.fa-plus-circle {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom, #356aa0 0%, #1d1744 48%, #356aa0 100%);
  padding: 8px;
  color: white;
  /* border-radius: 0 3px 3px 0; */
}
.isimb-6310-form-input {
  outline: 0;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 3px;
  min-width: 200px;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #000 !important;
  float: left;
  height: 30px;
}
textarea.isimb-6310-form-input {
  height: 100px;
  width: 90% !important;
  border: 1px solid #8c8f94;
}
select.isimb-6310-form-input {
  height: 31px;
}
.isimb-6310-form-input.sm {
  min-width: 180px;
}
/* .isimb-6310-form-input.lg {
  min-width: 300px;
} */
.isimb-6310-pull-right {
  float: right;
}
.isimb-6310-table {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  background: #fff;
  border-spacing: 0;
  border-collapse: collapse;
  color: #272727;
  width: calc(98% - 2px);
}
.isimb-6310-table tr:first-child td {
  border-bottom: 2px solid #ccc;
  padding: 10px 8px;
  font-weight: 700;
}
.isimb-6310-table tr:not(first-child) td {
  border-bottom: 1px solid #ccc;
  padding: 8px 5px;
}
.isimb-6310-table tr:hover {
  background: #efefed;
}
.isimb-6310-table tr:first-child:hover {
  background: #fff;
}
.isimb-6310-template-list {
  line-height: 30px;
  font-size: 18px;
  padding: 15px 0 10px 15px;
  float: left;
  font-weight: 100;
  color: #000;
  background: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
}
.isimb-6310-template-list small {
  font-size: 14px;
  color: green;
  margin-right: 15px;
}
.isimb-6310-builder-box {
  width: 100%;
  background: #fff;
  float: left;
  padding: 0;
  position: relative;
}
.isimb-6310-builder-box .isimb-6310-main-image {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.isimb-6310-builder-box img {
  float: left;
}
.isimb-6310-row {
  width: 100%;
  clear: both;
  float: left;
}
.isimb-6310-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.isimb-6310_team-style-boxed {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px #aaa;
  width: 98%;
  margin-bottom: 25px;
}
.isimb-6310-row-section {
  float: left;
  width: 100%;
  display: flex;
}
.isimb-6310-preview {
  font-size: 22px;
  line-height: 26px;
  padding: 10px 0px;
}
.isimb-6310-plugin-setting-left {
  width: calc(80% - 15px);
  float: left;
  margin-right: 15px;
}
.isimb-6310-plugin-setting-right {
  width: 20%;
  float: left;
  position: relative;
}
.isimb-6310-col-1 {
  width: 100%;
  margin-bottom: 30px;
  float: left;
  position: relative;
}
.isimb-6310-col-2,
.isimb-6310-col-3,
.isimb-6310-col-4,
.isimb-6310-col-5,
.isimb-6310-col-6 {
  vertical-align: top;
  margin: 15px;
  float: left;
  position: relative;
}
.isimb_6310_choosen_style {
  margin-left: 30px;
  display: inline-block;
}
.isimb-6310-m-l-30 {
  margin-left: 30px;
}
.isimb-6310-preview-box {
  margin-top: 30px;
  float: left;
  position: relative;
  width: 100%;
  background: #fff;
}
.isimb-6310-col-2 {
  width: calc(50% - 30px);
}
.isimb-6310-col-3 {
  width: calc(33.33% - 30px);
}
.isimb-6310-col-4 {
  width: calc(25% - 30px);
}
.isimb-6310-col-5 {
  width: calc(20% - 30px);
}
.isimb-6310-col-6 {
  width: calc(16.6667% - 30px);
}
.isimb-6310-col-left,
.isimb-6310-col-right {
  float: left;
  width: 50%;
}
.isimb-6310-modal-xl {
  width: 90% !important;
  background: rgb(240, 240, 240) !important;
}
.isimb-6310-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#isimb-6310-loading,
.isimb-6310-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.isimb-6310-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.isimb-6310-modal-lg {
  width: calc(100% - 20px) !important;
}
.isimb-6310-modal-content.isimb-6310-modal-sm {
  max-width: 400px;
}
.isimb-6310-modal-content.isimb-6310-modal-md {
  max-width: 700px;
}
.isimb-6310-icon-close {
  cursor: pointer;
  color: #000;
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 0px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;
  top: 25px;
}
ul.isimb-6310-choose-icon {
  padding: 0 10px;
  color: #444;
}
ul.isimb-6310-choose-icon li {
  width: 15.3%;
  float: left;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0 0.5%;
  border-radius: 3px;
  font-size: 12px;
}
ul.isimb-6310-choose-icon li i {
  margin-left: 6px;
  font-size: 16px;
}
ul.isimb-6310-choose-icon li:hover {
  background: #5cb85c;
  color: #fff;
}
@-webkit-keyframes isimb-6310-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes isimb-6310-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes isimb-6310-animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes isimb-6310-animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes isimb-6310-animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes isimb-6310-animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes isimb-6310-animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes isimb-6310-animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

label.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
label.switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
label.switch input:checked + .slider {
  background-color: #2196f3;
}
label.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
label.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
/* Rounded sliders */
label.switch .slider.round {
  border-radius: 34px;
}
label.switch .slider.round:before {
  border-radius: 50%;
}

.isimb-6310-close,
.isimb-6310-font-awesome-close {
  color: rgb(232, 216, 216);
  float: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.isimb-6310-close:hover,
.isimb-6310-font-awesome-close:hover,
.isimb-6310-close:focus,
.isimb-6310-font-awesome-close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.isimb-6310-modal-header {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 18px;
  float: left;
  color: #ffffff;
  letter-spacing: 0.009em;
  background: #007991;
}
.isimb-6310-modal-form-footer {
  width: 100%;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  float: left;
  background: #fff;
}
.isimb-6310-modal-form-footer button,
.isimb-6310-modal-form-footer input {
  float: right;
}
.isimb-6310-modal-form-footer input {
  margin-right: 10px;
}
.isimb-6310-modal-body-form {
  width: 100%;
  padding: 0px 5px;
  float: left;
  background: #ebebeb;
  color: #360d50;
}
.isimb-6310-modal-body-picture {
  float: left;
  width: 300px;
  padding-right: 15px;
}
.isimb-6310-modal-body-content {
  width: calc(100% - 330px);
  float: left;
}
.isimb-6310-modal-body-picture img {
  width: calc(100% - 12px);
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
}
#isimb-6310-modal-designation {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}
#isimb-6310-modal-name {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 30px;
  margin: 5px 0 25px;
  font-weight: 300;
  color: #111;
}
#isimb-6310-modal-details {
  font-size: 14px;
  line-height: 20px;
}
#isimb-6310-modal-info p {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%;
  font-size: 13px;
  color: #434343;
}
#isimb-6310-modal-info p span {
  font-weight: 600;
}
#isimb-6310-modal-info p:last-of-type {
  border: none;
  margin-bottom: 15px;
}
#isimb-6310-modal-social i {
  color: #272727;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 15px 15px 0 0;
  font-size: 18px;
  border: 1px solid #272727;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#isimb-6310-modal-social i:hover {
  color: #fff;
  background: #727272;
}
.isimb-6310-modal-footer {
  padding: 2px 16px;
  color: #fff;
}
br.isimb-6310-clear {
  clear: both;
}
#isimb-6310-loading {
  padding-top: 170px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#isimb-6310-loading img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
ul.isimb-6310-nav-tab {
  float: left;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 15px 0 0;
  border-bottom: 1px solid #0073aa;
}
ul.isimb-6310-nav-tab li {
  float: left;
  padding: 0 9px;
  margin: 0 3px 0 0;
  list-style: none;
  border: 1px solid #0073aa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
}
ul.isimb-6310-nav-tab li.active {
  border-bottom: 0;
  background: #fff;
  color: #0073aa;
}
ul.isimb-6310-nav-tab li:hover {
  color: #0073aa;
}
.isimb-6310-col-50 {
  width: 50%;
  float: left;
  padding: 10px 1%;
}
.isimb-6310-tab-content {
  background: #fff;
  float: left;
  width: 100%;
}
.css-area {
  border: 1px solid #ccc;
  margin-right: 15px;
}
.isimb_6310_image_settings {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  visibility: hidden;
}
.isimb-6310-col-1:hover .isimb_6310_image_settings,
.isimb-6310-col-3:hover .isimb_6310_image_settings,
.isimb-6310-col-4:hover .isimb_6310_image_settings,
.isimb-6310-col-5:hover .isimb_6310_image_settings,
.isimb-6310-col-6:hover .isimb_6310_image_settings,
.isimb-6310-item:hover .isimb_6310_image_settings {
  visibility: visible;
  transition: all 0.9s linear;
  z-index: 999999999;
  margin-bottom: 15px;
}
.isimb_6310_add_media {
  border: 1px solid #ccc;
  background: #fff;
}
.isimb_6310_add_media:first-of-type {
  margin-top: 30px;
}
.isimb_6310_add_media h6 {
  border-bottom: 1px solid #ccc;
  line-height: 25px;
  font-weight: 500;
  padding: 7px 15px;
  margin: 0;
  font-size: 15px;
}
.isimb_6310_add_media_body {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  color: #727272;
  transition: all 0.2s linear;
}
.isimb_6310_add_media_body a {
  text-decoration: none;
}
.isimb_6310_add_media_body a i {
  margin-bottom: 10px;
  color: red;
}
.isimb_6310_add_media_body:hover a,
.isimb_6310_add_media_body:hover a i {
  color: #fff;
}
.isimb_6310_add_media_body_shortcode {
  padding: 15px 15px 25px;
  text-align: center;
}
.isimb_6310_add_media_body_shortcode input {
  width: 100%;
  font-size: 12px;
  outline: 0;
  padding: 5px;
}
.isimb_6310_add_media_body_suggestion {
  padding: 15px 15px 25px;
  color: red;
}
i.isimb_6310_add_media_add_new_icon {
  font-size: 40px;
  display: block;
  margin-bottom: 15px;
}
.isimb_6310_add_media_body:hover {
  background: #999;
  color: #fff;
}
.isimb-6310-item-table {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  background: #fff;
  border-spacing: 0;
  border-collapse: collapse;
  color: #272727;
  width: calc(98% - 2px);
}
.isimb-6310-row-select {
  cursor: pointer;
}
.isimb-6310-item-table tr th {
  padding: 15px 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400;
}
.isimb-6310-item-table tr td {
  padding: 3px 0;
}
.isimb-6310-item-table tr td:first-child {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
}
.isimb-6310-item-table tr td {
  border-top: 1px solid #ccc;
}
.isimb-6310-item-table tr td:last-child {
  border-right: 1px solid #ccc;
  text-align: center !important;
}
.isimb-6310-item-table tr:last-child td {
  border-bottom: 1px solid #ccc;
}
.isimb-6310-item-table tr:hover td {
  background: #eee;
}

.isimb-6310-pro {
  color: red;
  font-weight: 600;
  font-size: 14px;
  display: inline;
}
h3.isimb-6310-pro {
  color: red;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0;
}

h3.isimb-6310-tab-menu-settings {
  text-align: center;
  padding: 0;
  margin: 3px 0 0;
  line-height: 40px;
  height: 40px;
  color: #0073aa;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

br.isimb-6310-break-row {
  width: 100%;
  height: 1px;
  float: left;
  clear: both;
}

.isimb-6310-owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.isimb-6310-owl-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
}
p.isimb-6310-success-message {
  color: green;
  font-size: 120%;
  margin: 0 0 10px;
  font-weight: 700;
}

.isimb-6310-sortable,
#isimb-6310-sortable {
  float: left;
  width: 100%;
  margin: 0 0 30px;
}
.isimb_6310_admin_table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
.isimb_6310_admin_table tr {
  height: 50px;
  width: 100%;
}
.isimb_6310_admin_table tr td:first-child {
  width: 35%;
  padding-left: 10px;
}
.isimb_6310_admin_table tr td:last-child {
  padding-right: 10px;
}
.isimb_6310_admin_table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.isimb-6310-tooltip:hover:after {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 119, 181, 1);
  border-radius: 5px;
  color: #fff;
  content: attr(tooltip-href);
  margin: -85px 5px 0;
  font-size: 14px;
  line-height: 25px;
  padding: 8px 10px;
  position: absolute;
  z-index: 999;
  min-width: 140px;
}
.isimb-6310-slider,
.isimb-6310-noslider {
  display: none;
}
.isimb-6310-hover-icon,
.isimb-6310-hover-image {
  display: none !important;
}
.isimb-6310-owl-carousel .isimb-6310-item {
  padding: 5px 0;
  width: 100%;
  display: flex;
}
.isimb-6310-template-preview-list {
  line-height: 30px;
  font-size: 18px;
  padding: 15px 0 10px 15px;
  float: left;
  font-weight: 100;
  color: #000;
  background: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
}
.isimb-6310-template-preview-list small {
  font-size: 14px;
  color: green;
  margin-right: 15px;
}
.isimb-6310-row-select {
  height: 40px;
  line-height: 40px;
}
#isimb-6310-sortable-items li {
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  cursor: move;
}
.isimb-6310-first {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  height: 33px;
  line-height: 33px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.isimb-6310-first i {
  color: #fff;
}
.isimb-6310-second {
  float: left;
  margin-right: 5px;
}
.isimb-6310-third {
  float: left;
}
.isimb-6310-6330-shortcode {
  width: 250px;
}
.isimb-6310-display-none {
  display: none;
}

.isimb-6310-ui-state-default {
  padding: 8px 10px !important;
  cursor: pointer !important;
  border-radius: 3px !important;
}

#isimb-6310-sortable li {
  color: black !important;
  background: transparent !important;
  border: 1px solid #4e994e;
}

.isimb-6310-ui-state-default {
  padding: 8px 5px !important;
  cursor: pointer !important;
  border-radius: 3px !important;
}

.isimb-6310-row {
  margin: 15px 10px;
  margin-left: 0;
}
.isimb-6310-video {
  margin: 0px 0 2px;
  background: #16a085;
  color: #fff;
  line-height: 40px;
  font-size: 16px;
  padding-left: 15px;
  font-family: sans-serif;
  border-radius: 2px 2px 0 0;
}
.isimb-6310-width-80 {
  width: 80px;
}
.isimb-6310-width-100 {
  width: 100px;
}
.isimb-6310-width-125 {
  width: 125px;
}
.isimb-6310-width-150 {
  width: 200px;
}
.isimb-6310-width-200 {
  width: 200px;
}
.isimb-6310-font-size-20 {
  font-size: 20px;
}
.isimb-6310-max-width-30 {
  max-width: 30px;
}
.isimb-6310-action-button {
  float: left;
  margin-right: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}
.isimb-6310-no-margin {
  margin: none !important;
}
li.toplevel_page_isimb-6310-image-map-builder .wp-menu-image:before {
  color: #f00 !important;
}
.isimb-6310-no-live-preview {
  color: #f00 !important;
}
#export-image-map-builder-plugin {
  display: none;
}

.isimb-image-responsive {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.isimb-6310-row .isimb-6310-row-plugins {
  width: calc(100% + 10px) !important;
  padding: 0 !important;
  margin-left: -15px !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

p.isimb-6310-error-message {
  color: red;
  font-size: 120%;
  margin: 0 0 10px;
  font-weight: bold;
}

.isimb-6310-item-box {
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  position: relative;
}

.isimb-6310-item-box-fields {
  margin-bottom: 10px;
}
.isimb-6310-item-box-fields label {
  font-weight: bold;
}
.isimb-6310-item-box-fields input[type="text"] {
  width: 100%;
}
.isimb-6310-item-box-fields input[readonly] {
  background-color: #fff;
  border: 0;
  color: #f6931f;
  font-weight: bold;
  width: 50px;
  padding: 0;
}
.isimb-6310-item-box-fields input[type="number"]:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff;
}
.isimb-6310-slider-range-min {
  height: 20px !important;
  margin-top: 5px !important;
}
.isimb-6310-slider-range-min .ui-slider-handle {
  height: 24px !important;
  top: -3px !important;
}
.isimb-6310-item-box .fa-trash-alt {
  position: relative;
  float: right;
  height: 22px;
  text-align: right;
  width: 100%;
  font-size: 14px;
  color: #d9534f;
  cursor: pointer;
}
.isimb-6310-item-box .fa-trash-alt:hover {
  color: red;
}
.isimb-6310-manage-items {
  float: left;
  width: 100%;
  margin-left: 8px;
}
.isimb-6310-manage-items-add,
.isimb-6310-manage-items-existing {
  float: left;
  width: auto;
  margin: 15px 7px;
  padding: 7px 10px;
  background: #2e6da4;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.isimb-6310-manage-items-existing-add {
  float: left;
  margin: 15px;
  display: none;
}
.existing-items-list {
  float: left;
}
.isimb-6310-manage-items-add:hover,
.isimb-6310-manage-items-existing:hover {
  background: #24537c;
}

.isimb-6310-manage-items-existing-add .isimb-6310-btn-primary,
.isimb-6310-manage-items-existing-add .isimb-6310-btn-cancel {
  padding: 6px 13px !important;
  margin-left: 10px;
}
.isimb-6310-manage-items-existing-add label {
  line-height: 30px;
  font-weight: bold;
  margin-right: 5px;
}
.isimb-6310-manage-items-existing-add label,
.isimb-6310-manage-items-existing-add div,
.isimb-6310-manage-items-existing-add select {
  float: left !important;
}
.isimb-6310-hide {
  display: none;
}
.isimb-6310-drag .isimb-6310-pin-main-img,
.isimb-6310-drag .isimb-6310-pin-hover-img {
  font-size: 30px;
  color: red;
  position: relative;
}
.isimb-6310-point-editor {
  display: flex;
  width: 80px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  top: -30px;
  background: #353744;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  visibility: hidden;
  transition: 0.4s all;
}
.isimb-6310-drag:hover .isimb-6310-point-editor {
  visibility: visible;
}
.isimb-6310-point-editor:after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #353744;
  bottom: -5px;
}

.isimb-6310-point-edit:hover {
  background: #4a4c59;
}
.isimb-6310-point-remove:hover {
  background: #4a4c59;
}
.isimb-6310-point-editor i {
  font-size: 12px;
  margin: 8px;
  color: #fff;
}
.isimb-6310-point-edit {
  border-right: 1px solid gray;
  width: 50px;
  height: 25px;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.isimb-6310-point-remove {
  width: 50px;
  height: 25px;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.isimb-6310-template-02-hover-content {
  position: absolute;
  z-index: 1;
}
.isimb-6310-drag {
  text-align: center;
}

.isimb-6310-pin-main-img:hover ~ .isimb-6310-point-editor,
.isimb-6310-pin-hover-img:hover ~ .isimb-6310-point-editor {
  visibility: visible;
  background: #00a546;
}
.isimb-6310-point-icons {
  float: left;
}
.isimb-6310-pin-hover-img {
  display: none !important;
}

.isimb-6310-drag:hover .isimb-6310-pin-hover-img {
  display: inline-block !important;
}
.isimb-6310-drag:hover .isimb-6310-pin-main-img {
  display: none !important;
}
.isimb-6310-drag {
  width: auto;
  height: auto;
  display: inline-block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: transparent !important;
  border: none !important;
}
button.isimb-6310-add-new-button {
  margin-bottom: 5px;
}
button.isimb-6310-add-new-button a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
button.isimb-6310-add-new-button a:focus,
a:active,
a:hover {
  outline: none !important;
  box-shadow: none !important;
}
.isimb-6310-tooltip_img_section {
  float: left;
  width: 100%;
  cursor: pointer;
}
.isimb-6310-tooltip-img {
  float: left;
  width: calc(20% - 12px);
  margin-right: 15px;
}

.isimb-6310-tooltip_img_section .isimb-6310-tooltip-img:nth-child(5n) {
  margin-right: 0;
}

.isimb-6310-tooltip-img img {
  width: 100%;
  height: auto;
}

.isimb-6310-active img {
  box-shadow: 0 0 7px red;
}
.isimb_6310_custom_link_url {
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}
#isimb_6310_social_icon {
  z-index: 9999999;
}

/* Tab Switcher */
.toggle-wrap {
  background: rgb(195 195 195 / 14%);
  min-height: 400px;
  float: left;
  width: 100%;
}

ul.toggle-tabs {
  float: left;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  margin: 0;
}

.toggle-tabs li {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 107, 121, 0.908000700280112) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  float: left;
  margin: 5px;
  padding: 10px 30px;
  list-style: none;
  cursor: pointer;
}

.toggle-tabs li.active-tab {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    351deg,
    rgb(2, 33, 136) 0%,
    rgba(9, 1, 169, 0.547) 100%
  );
}

.tabbed-content-wrap {
  float: left;
  width: 100%;
}

.content-box {
  display: none;
}

.content-box.active-content-box {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  margin: 8px !important;
}

/* ********* */

.content-box.active-content-box input[type="text"],
input[type="number"] {
  width: 30% !important;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 30%;
}

.isimb-6310-minus-icons i {
  right: 0;
  top: 0;
  background: linear-gradient(to bottom, #ff0000 0%, #910000 48%, #ff0303 100%);
  padding: 8px;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.shortcode {
  float: right;
  width: 32%;
  font-size: 16px;
  color: red;
  font-weight: 600;
}
.shortcode input[type="text"] {
  width: 60%;
  font-weight: 200;
}
.isimb-6310-undo {
  display: inline-block;
  float: left;
  font-size: 12px;
  background: #0e7181;
  padding: 6px 12px;
  text-align: center;
  align-items: center;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.isimb-6310-clear {
  display: inline-block;
  font-size: 12px;
  padding: 6px 12px;
  text-align: center;
  background: #813906;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.isimb-6310-submenu {
  float: right;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
}
button.isimb-6310-remove {
  float: right;
  font-size: 12px;
  color: white;
  padding: 8px 11px;
  margin-top: 6px;
  border-radius: 3px;
  background: #540000;
  border: none;
  cursor: pointer;
}
button.isimb-6310-remove,
i.fas.fa-trash {
  margin-right: 3px;
}
input.isimb_6310_modal_content,
input.isimb_6310_link_text {
  width: 46%;
}
.isimb-form-input-lg {
  width: 100% !important;
}
.toggle-zoom-feature img {
  margin-right: 15px;
}
.isimb-6310-pro {
  color: #cc0000;
  font-weight: 600;
  font-size: 11px;
  position: relative;
  cursor: pointer;
}
.isimb-6310-pro .isimb-6310-pro-text {
  visibility: hidden;
  width: 260px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  font-weight: 300;
  position: absolute;
  z-index: 9999;
  bottom: calc(100% + 8px);
  left: 50%;
  margin-left: -137px;
  line-height: 17px;
  font-size: 13px;
}
.isimb-6310-pro .isimb-6310-pro-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: calc(50% + 10px);
  margin-left: -8px;
  border-width: 5px;
  border-style: solid;
  border-color: #2196f3 transparent transparent transparent;
}
.isimb-6310-pro:hover .isimb-6310-pro-text {
  visibility: visible;
}
